.para{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    width: 50%;
    border-bottom: 2px solid gray;
    margin: auto;
}
.history{
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    margin-top: 10px;
    border-bottom: 2px solid gray;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: space-around;
    width: 50px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-weight: bold;
}
.his{
    font-size: 20px;
}