.q{
    margin-top: 30px;
}
.para{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    width: 50%;
    border-bottom: 2px solid gray;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
.btn{
    box-sizing: border-box;
    /* visibility: hidden; */
    width: 60px;
    height: 30px;
    margin-bottom: 20px;
    background-color: red;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    
   
}
.history{
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    margin-top: 10px;
    border-bottom: 2px solid gray;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    /* display: block; */
}
/* .q :hover .btn{
    visibility: visible;
} */
.his{
    font-size: 20px;
}
.new{
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
}
.head{
        text-align: center;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        border-bottom: 2px solid gray;
        width: 50%;
        margin: auto;
        margin-top: 50px;
        /* display: block; */
    }