.income{
    display: flex;
    justify-content: space-between;
    font-style: italic;
    overflow: hidden;
    width: 50%;
    margin: auto;
}
.inc{
    color: green;
    border-bottom: 3px solid green;
}
.exp{
    color: red;
    border-bottom: 3px solid red;
}
.size{
    font-size: 30px;
    font-weight: 500;
}
.sp{
    font-size: 35px;
}