
.inp{
    text-align: center;
    justify-content: center;
}
.text{
    font-size: 20px;
    text-align: start;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;
}
.input{
    outline: none;
    border: 0;
    border-bottom: 2px solid gray;
    width: 50%;
    padding-left: 20px;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}
/* .submit{
    /* width: 50%; */
/*     
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    font-size: 20px;
    color: white;
    outline: none;
    margin-bottom: 50px;
    margin-left: 25px;
    width: 100%;
    margin: auto; */
.y{
    display: flex;
    justify-content: space-evenly;
    /* margin: auto; */
    /* height: 50px; */
    width: 50%;
    margin: auto;
    
}
.red{
    background-color: red;
    color: white;
    /* width: 150px; */
    height: 35px;
    border-radius: 5px;
}
.green{
    background-color: green;
    color: white;
    /* width: 150px; */
    height: 35px;
    border-radius: 5px;
    /* padding-right: 50px; */
}
.w{
    margin-top: 50px;
    margin-bottom: 20px;
}